################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.opendb
*.db-wal
*.db-shm
*.db
/.vs/Homework4/v16/ipch/AutoPCH/9382d5911570e1e0/HOMEWORK4.ipch
